.table1 {
  display: table;
  border-collapse: collapse;
  width: 100%;
  font-size: 10px;
  color: #000;

  .tr {
    display: table-row;
  }
  .th {
    display: table-cell;
    border: 1px solid #e6ebf5;
    white-space: nowrap;
    padding: 5px 2px;
    line-height: 1.5em;
    background: #fff;
    color: #000;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    height: 19px;
  }
  .td {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    padding: 2px;
    height: 19px;
  }
  .moneyCol {
    text-align: right;
    padding-right: 1em;
  }
  .tr:nth-child(odd) {
    &:hover {
      background: darken(#c0e3f2, 3%);
    }
    > .td {
      border: 1px solid #e6ebf5;
    }
  }
  .tr:nth-child(even) {
    background: #f0f9eb;
    &:hover {
      background: darken(#c0e3f2, 3%);
    }
    > .td {
      border: 1px solid #e6ebf5;
    }
  }
  .tr.outdate {
    background: #fa5555;
    &:hover {
      background: darken(#fa5555, 5%);
    }
    > .td {
      color: #fff;
      border: 1px solid lighten(#fa5555, 10%);
      .lower {
        color: #eee;
      }
    }
  }
  .tr.ok {
    background: #67c23a;
    &:hover {
      background: darken(#67c23a, 5%);
    }
    > .td {
      color: #fff;
      border: 1px solid lighten(#67c23a, 10%);
      .lower {
        color: #eee;
      }
    }
  }
}
